src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="246acd82-da0c-4910-9205-c05a41e076e5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<json-logger:config name="JSON_Logger_Config" doc:name="JSON Logger Config" doc:id="3f94e3f0-c891-4e0c-9f0e-f971c626a277" environment="${mule.env}" contentFieldsDataMasking="fname"/>
	<configuration-properties doc:name="Configuration properties" doc:id="a1c2950d-4f41-4b11-895a-61847c3f89ca" file="dev.yaml" />
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="b31abdae-a93e-4811-805a-8380a2fcd847" >
		<email:smtps-connection host="smtp.gmail.com">
			<tls:context >
				<tls:trust-store insecure="true" />
			</tls:context>
		</email:smtps-connection>
	</email:smtp-config>
	<flow name="helloworldFlow1" doc:id="72a4957d-bda5-4964-84ed-cb4ef0ea4d64" >
		<http:listener doc:name="Listener" doc:id="8a5935f2-d7c7-46f7-a79c-d9ff06996bf7" config-ref="HTTP_Listener_config" path="/logger"/>
		<logger level="INFO" doc:name="Start Logger" doc:id="b6eb6ce9-d2e9-4bc8-9856-b917a8eaea49" message="======START FLOW================"/>
		<logger level="INFO" doc:name="Payload" doc:id="5ef57619-55d7-4d4a-a8bb-f8d93206e4b7" message="#[payload]"/>
		<set-variable value="#[%dw 2.0 &#10;output application/xml&#10;---&#10;{ someRoot: payload.employess.employee.ID }]" doc:name="Set Variable" doc:id="d46e0acb-fcbe-4adb-9987-939e6b7f2e0c" variableName="id"/>
		<choice doc:name="Choice" doc:id="dff09fa1-ef31-468e-92ee-ad7a921803c0" >
			<when expression="#[vars.id == '1']">
				<logger level="INFO" doc:name="Inside Choice Logger" doc:id="7bc862c4-7a55-447e-8736-65c2f29f9daa" message="===========INSIDE CHOICE LOGGER================================"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Default Logger" doc:id="780f6ed9-942f-4b99-b9c9-52f311105346" message="===================DEFAULT LOGGER================================="/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End Logger" doc:id="57511d9b-9e66-4d82-9008-410300c8ab9f" message="===========Flow EXITED============================== "/>
	</flow>
	<flow name="helloworldFlow" doc:id="8f8e7bb0-2bb9-45a5-b3a4-a93f5530f248" initialState="started">
		<http:listener doc:name="Listener" doc:id="bfbe5566-2a0e-4c45-855d-ca0e1d53a28c" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET,POST"/>
		<json-logger:logger doc:name="Logger" doc:id="502b7d4a-81b9-4d1d-bea5-15a0bf0bdfb1" config-ref="JSON_Logger_Config" message="Started"/>
		<set-variable value="#[%dw 2.0 &#10;output application/xml&#10;---&#10;{ someRoot: payload.employess.employee.ID }]" doc:name="Set Variable" doc:id="24ab62fb-d08d-4b74-8af8-3aa0a1d16e65" variableName="id"/>
		<choice doc:name="Choice" doc:id="f5b613c7-3341-4451-8953-86014e9f95fa" >
			<when expression="#[vars.id == '1']">
				<json-logger:logger doc:name="Logger" doc:id="482decf9-fada-45e4-844b-8676689df088" config-ref="JSON_Logger_Config" message="====Entered Flow if id ==1 =======================" tracePoint="BEFORE_TRANSFORM"/>
			</when>
			<otherwise >
				<json-logger:logger doc:name="Logger" doc:id="ff6dd443-4413-4d11-920b-675769d99add" config-ref="JSON_Logger_Config" message="==========Entered Flow when id !=1===================" tracePoint="FLOW"/>
			</otherwise>
		</choice>
		<json-logger:logger doc:name="Logger" doc:id="1b229123-1277-438f-91cf-63563df6e9aa" config-ref="JSON_Logger_Config" message="=========Flow Exited====================" tracePoint="END"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="55a64bb0-f816-4aba-91d2-6c186ae86392" >
				<json-logger:logger doc:name="Logger" doc:id="67510412-b746-4fc0-88ef-4e3bcbb26fef" config-ref="JSON_Logger_Config" message="===========EXCEPTION FLOW===============================" tracePoint="EXCEPTION"/>
				<set-variable value="404" doc:name="Set Variable" doc:id="392fbc33-c902-4a9b-95ca-90430c61e1d4" variableName="status"/>
			</on-error-continue>
		</error-handler> 
	</flow>
</mule>
